<div class="row col s12" ng-controller="FilesCtrl">
    <div class="col s4">
        <h5>File Filters</h5>
        <div class="row">
            <div class="row" ng-repeat="file in fileTypes">
                <div class="switch">
                   <label>
                     <input id="((file.type))" type="checkbox" ng-model="fileFilter" value="((file.type))" ng-change="filter(file.type, fileFilter)">
                     <span class="lever"></span>
                     ((file.type))
                   </label>
               </div>
            </div>
        </div>
        <div class="row">
            <input class="input-field col s10 offset-s1" type="text" placeholder="Search Files" ng-model="searchText">
        </div>
    </div>
    <div style="overflow:scroll; height: 70vh;" class="col s8">
        <h4>Files</h4>
        <div class="collection" ng-repeat="file in filterFiles | filter: {file_name: searchText} | orderBy: 'id' track by file.id">
            <li class="collection-item avatar" style="list-style-type:none;">
                <img src="((file.url))" alt="" class="circle">
                <span class="title flow-text" style="word-break:break-word;">((file.file_name))</span>
                <a href="" class="secondary-content" ng-click="showImage(file.id)" ><i class="material-icons">arrow_forward</i></a>
            </li>
        </div>

    </div>

</div>
