<div class="col s12" ng-controller="FilesCtrl">
    <div style="overflow:scroll; height: 70vh;">
        <h4>Files</h4>
        <div class="collection" ng-repeat="file in files | orderBy: 'id' track by file.id">
            <li class="collection-item avatar" style="list-style-type:none;">
                <img src="((file.url))" alt="" class="circle">
                <span class="title flow-text" style="word-break:break-word;">((file.file_name))</span>
                <a href="" class="secondary-content" ng-click="showImage(file.id)" ><i class="material-icons">arrow_forward</i></a>
            </li>
        </div>

    </div>

</div>
