<div class="container">
    <div class="row">
        <div class="row">
            <input type="text" class="input-field col s10 offset-s1" placeholder="Username" ng-model="user.username" required>
        </div>
        <div class="row">
            <input type="password" class="input-field col s10 offset-s1" placeholder="Password" ng-model="user.password" required>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn col s10 offset-s1" ng-click="login()">Submit Login</a>
        </div>
    </div>
</div>