<di class="row">
    <div class="row">
        <h6>
            <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Process Text</a>
        </h6>
    </div>
    <div class="row">
        <div class="row" id="transform-file">
            <div class="col s8" >
                <div canvas-area-draw points="points"
                    active="activePolygon" image-url="imageSrc"
                    enabled="enabled" palette="colorArray" ng-if="loaddata">
                        
                </div>
            </div>
            <div class="card col s4">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">
                        <h4>Transform File</h4>
                        </span>
                        <div class="col s10 offset-s1">
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="add()">Add new</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="undo()">Undo</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="clearAll()">Clear</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="removePolygon(activePolygon)">Remove</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="savePolygons()">Save</button>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <input type="checkbox" id="Tesseract" ng-model="process_type.tesseract"/>
                                <label for="Tesseract">Select Tesseract OCR</label>
                                <input type="checkbox" id="GoogleVision" ng-model="process_type.googlevision"/>
                                <label for="GoogleVision">Select Google Vision OCR</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>