<div ng-controller="NavCtrl">
    <div class="navbar-fixed">
        <nav class="white">
          <div class="nav wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="#!" class="brand-logo center black-text"><i class="material-icons">monochrome_photos</i> Image Lucida</a>
            <a href="#" data-activates="landingPage-mobile" class="button-collapse top-nav show-on-medium-and-down" data-sidenav="left" data-menuwidth="300"  data-closeonclick="true">
            <i class="material-icons black-text">menu</i></a>
           <!-- LANDING PAGE navigation -->
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text" href="#!/about">About</a></li>
                <li ng-show="!user_status"><a class="black-text" href="#!/register" >Register</a></li>
                <li ng-show="!user_status"><a class="black-text" href="#!/login">Login</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/projects">Projects</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/explore">Explore</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/logout">Logout</a></li>
            </ul>
            <!-- LANDING PAGE side-navigation  -->
            <ul class="side-nav" id="landingPage-mobile" ng-show="!user.username">
                <li><a class="black-text" href="#!/about">About</a></li>
                <li ng-show="!user_status"><a class="black-text" href="#!/register">Register</a></li>
                <li ng-show="!user_status"><a class="black-text" href="#!/login">Login</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/projects">Projects</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/explore">Explore</a></li>
                <li ng-show="user_status"><a class="black-text" href="#!/logout">Logout</a></li>
            </ul> 


          </div><!-- /.navwrapper -->
        </nav>
    </div>
</div>
