<div class="row">
    <div class="card col s10 offset-s1">
        <div class="row">
            <h4 ng-show="!editing" class="center-align">Create New Project</h4>
            <h4 ng-show="editing" class="center-align">Edit Project</h4>
        </div>
        <div class="divider"></div>
        <div class="row col s10 offset-s1">
            <!-- <div class="right-align">
                <label>Public/Private Settings</label>
                <div class="switch">
                    <label>
                      Public
                      <input id="privacySwitch" type="checkbox" ng-model="switchValue">
                      <span class="lever"></span>
                      Private
                    </label>
                </div>
            </div> -->
            <label>Project Title</label>
            <div class="row">
                <input class="input-field col s10 offset-s1" type="text" placeholder="Project Title" ng-model="createProject.title" required autofocus>
            </div>
            <label>Project Description</label>
            <div class="row">
                <input class="input-field col s10 offset-s1" type="text" placeholder="Project Description" ng-model="createProject.description" required>
            </div>
            <!-- <label>Project Tags</label>
            <div class="row" id="tagsDiv">
            </div> -->
            <!-- <label>Project Status</label>
            <form class="row" action="#" id="statusDiv">
                <div class="col s3 offset-s1 m2 offset-m1 l1 offset-l1" ng-repeat="item in statuses">
                    <div ng-repeat="(key, status) in item">
                    <input name="group1" type="radio" id="((status))" ng-model="$parent.selectedStatus" value="((status))"/>
                    <label for="((status))">((status))</label>
                    </div>
                </div>
            </form> -->
            <div class="row" ng-show="!editing">
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s8 offset-s2" ng-click="createNewProject(createProject)">CREATE PROJECT</a></h5>
            </div>
            <div class="row" ng-show="editing">
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s8 offset-s2" ng-click="createNewProject(createProject)">EDIT PROJECT</a></h5>
            </div>
        </div>
    </div>
</div>
