<div class="row">
    <div class="card col s10 offset-s1">
        <div class="row">
            <h4 ng-show="!editing" class="center-align">Create New Project</h4>
            <h4 ng-show="editing" class="center-align">Edit Project</h4>
        </div>
        <div class="divider"></div>
        <div class="row col s10 offset-s1">
            <label>Project Title</label>
            <div class="row">
                <input class="input-field col s10 offset-s1" type="text" placeholder="Project Title" ng-model="createProject.title" required autofocus>
            </div>
            <label>Project Description</label>
            <div class="row">
                <form ng-submit="createNewProject()">
                    <input class="input-field col s10 offset-s1" type="text" placeholder="Project Description" ng-model="createProject.description" required>
                </form>

            </div>
            <div class="row" ng-show="!editing">
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s8 offset-s2" ng-click="createNewProject()">CREATE PROJECT</a></h5>
            </div>
            <div class="row" ng-show="editing">
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s4 offset-s2" ng-click="createNewProject()">EDIT PROJECT</a></h5>
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s4 offset-s2" ng-click="deleteProject()">DELETE PROJECT</a></h5>
            </div>
        </div>
    </div>
</div>
