<di class="row">
    <div class="row">
    <h6>
        <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Project</a>
    </h6>
    </div>
    <div class="row col s10 offset-s1">
        <div class="row"> <!-- Begging of Tabs -->
            <ul class="tabs" tabs>
                <li class="tab col s6">
                    <a ng-href="#transform-file">Transform File</a>
                </li>
                <li class="tab col s6">
                    <a ng-href="#image-annotations">Image Annotations</a>
                </li>
            </ul>
        </div> <!-- End of Tabs -->     
    </div>
    <div class="row">
        <div class="row" id="transform-file">
            <div class="col s8" >
                <div canvas-area-draw points="points"
                    active="activePolygon" image-url="imageSrc"
                    enabled="enabled" palette="colorArray" ng-if="loaddata">
                        
                </div>
            </div>
            <div class="card col s4">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">
                        <h4>Transform File</h4>
                        </span>
                        <div class="col s10 offset-s1">
                            <a ng-show="!annotating" class="waves-effect waves-light btn-flat" ng-click="startAnnotation()">Start Annotation</a>
                            <a ng-show="annotating" class="waves-effect waves-light btn-flat" ng-click="clearAnnotation()">Clear Annotation</a>
                            <a ng-show="annotating" class="waves-effect waves-light btn-flat" ng-click="saveAnnotation()">Save Annotation</a>
                            <a ng-show="annotating" class="waves-effect waves-light btn-flat" ng-click="saveImageAsAnnotation()">Save Image As Is</a>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="add()">Add new</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="undo()">Undo</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="clearAll()">Clear</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="removePolygon(activePolygon)">Remove</button>
                            </div>
                            <div class="row">
                                <button class="waves-effect waves-light btn" ng-click="savePolygons()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="image-annotations">
            <div class="row col s10 offset-s1">
                <ul class="tabs" tabs id="image_list">
                    <li class="tab col s1" ng-repeat="(index,image) in image_annotations">
                        <a ng-href="#image_annotation((index))">((index))</a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image-annotation((index))" class="col s8" ng-repeat="(index, image) in image_annotations" >
                    <img id="((image.fields.id))" value="((image.fields.image_annotation_file_name))"  src="((image.fields.url))" class="responsive-img"/>
                </div>
            </div>
            <div class="card col s4">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">
                        <h4>Image Annotations Properties</h4>
                        </span>
                        <div class="divider"></div>
                        <div class="col s10 offset-s1">
                            <div class="row">
                            <h5>Process Image Annotation</h5>
                            <div class="row">
                            <button class="waves-effect waves-light btn" ng-click="processImage()">Process Image</button>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="col s10 offset-s1">
                            <div class="row">
                                <h5>Current Meta Data</h5>
                            </div>
                            <div class="row">
                                <div ng-repeat="(index,image) in image_annotations">
                                    <div ng-repeat="tag in imageTags" ng-show="imageTags.length">
                                        <div ng-if="image.fields.id == tag.image.id">
                                            <p>((tag.tag_name))</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="(index,image) in image_annotations">
                                    <img src="((image.palette_url))" class="responsive-img"/>
                                </div>
                            </div>
                        </div>
                        <div class="col s10 offset-s1">
                            <div class="row">
                            <h5>Add Meta Data</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>