<div class="row">
    <div class="row">
    <h6>
        <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Folder</a>
    </h6>
    </div>
    <div class="fixed-action-btn horizontal">
        <a tooltipped class="btn-floating btn-large indigo accent-1" ng-href="#!/projects/manual-segment/((file_id))" data-position="top" data-delay="50" data-tooltip="Need to manually segment image?"><i class="large material-icons">info</i>
        </a>
    </div> <!-- End of Fab -->
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="((file.file_url))" />
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">((file.file_name))</span>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Tesseract OCR Text<a href="" ng-click="editText()" ng-show="!editing"><i class="material-icons">edit</i></a> <a href="" ng-click="saveTesseractEdits()" ng-show="editing"><i class="material-icons">add</i></a></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited" style="white-space:pre;">((file.tesseract_text))</p>
                                    </div>
                                    <div class="flow-text" style="overflow:scroll; height:70vh;" ng-show="editing">
                                        <p id="edited-tesseract" contenteditable="true" style="white-space:pre;">((file.tesseract_text))</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Google Vision API Text <a href="" ng-click="editText()" ng-show="!editing"><i class="material-icons">edit</i></a> <a href="" ng-click="saveGoogleVisionEdits()" ng-show="editing"><i class="material-icons">add</i></a></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited" class="edit-textarea" style="white-space:pre;">((file.google_vision_text))</p>
                                    </div>
                                    <div class="flow-text"  ng-show="editing" style="overflow:scroll; height:70vh;">
                                        <p id="edited-googlevision" contenteditable="true" style="white-space:pre;">((file.google_vision_text))</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="" ng-click="processGoogleVision()">Process with Google Vision</a>
                    <a href="" ng-click="processTesseract()">Process with Tesseract</a>
                </div>
            </div>
        </div>
    </div>
</div>
