<di class="row">
    <div class="row">
        <h6>
            <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Folder</a>
        </h6>
    </div>
    <div class="fixed-action-btn horizontal"> 
        <a tooltipped class="btn-floating btn-large indigo accent-1" ng-href="#!/projects/manual-segment/((active_id))" data-position="top" data-delay="50" data-tooltip="Need to manually segment image?"><i class="large material-icons">info</i>
        </a>
    </div> <!-- End of Fab -->
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="((transform_file.url))" />
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title flow-text">((transform_file.transform_file_name))</span>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <button ng-show="auto_image" class="waves-effect waves-light btn-flat col s8">Image Already Auto-Segmented</button>
                        <button ng-show="!auto_image" class="waves-effect waves-light btn-flat col s8" ng-click="autoImageSegment()">Auto Segment Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>