<div class="row">
    <div class="row">
    <h6>
        <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Project</a>
    </h6>
    </div>
    <div class="row">
        <div class="col s8">
            <img class="responsive-img" src="((transform_file.url))" />
        </div>
        <div class="col s4">
            <div class="card sticky-action">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title">((transform_file.transform_file_name))</span>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Tesseract OCR Text</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited" >((text_anno.tesseract_text_annotation))</p>
                                    </div>
                                    <div class="flow-text" style="overflow:scroll; height:70vh;" ng-show="editing">
                                        <p id="edited-tesseract" contenteditable="true">((text_anno.tesseract_text_annotation))</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <button ng-show="!editing" class="waves-effect waves-light btn col s8" ng-click="editTesseractText()">Edit Text</button>
                                    <button ng-show="editing" class="waves-effect waves-light btn col s8" ng-click="saveTesseractEdits()">Save Edits</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Google Vision API Text</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited" class="edit-textarea">((text_anno.google_vision_text_annotation))</p>
                                    </div>
                                    <div class="flow-text"  ng-show="editing" style="overflow:scroll; height:70vh;">
                                        <p id="edited-googlevision" contenteditable="true">((text_anno.google_vision_text_annotation))</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <button ng-show="!editing" class="waves-effect waves-light btn col s8" ng-click="editGoogleVisionText()">Edit Text</button>
                                    <button ng-show="editing" class="waves-effect waves-light btn col s8" ng-click="saveGoogleVisionEdits()">Save Edits</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>