<div class="row">
    <div class="row">
        <div class="col s10 offset-s1"><!-- Begging of Tabs -->
            <ul class="tabs" tabs>
                <li class="tab col s6">
                    <a ng-href="#untransformed">Untransformed Files</a>
                </li>
                <li class="tab col s6">
                    <a ng-href="#transformed">Transformed Files</a>
                </li>
            </ul>
        </div> <!-- End of Tabs -->     
    </div>
    <div class="row">
        <div class="row" id="untransformed">
            <div class="row" ng-if="showTabs">
                <ul class="tabs" tabs id="untransformed_list" reload="allTabContentLoaded">
                    <li class="tab col s1" ng-repeat="(index,file) in untransformed_files">
                        <a id="((index))" ng-href="#untransformed-image((index))">((index))</a>
                    </li>
                </ul>
            </div>
            <div id="untransformed-image((index))" class="row" ng-repeat="(index, file) in untransformed_files">
                <div class="col s8">
                    <img value="((file.fields.upload_file_name))" id="((file.fields.id))"  src="((file.fields.url))" class="responsive-img"/>
                </div>
                <div class="card col s4">
                    <div class="card-content">
                        <div class="row">
                            <span class="card-title">
                            <h4>Uploaded File Actions</h4>
                            </span>
                            <div class="col s10 offset-s1">
                                <a ng-show="!transforming" class="waves-effect waves-light btn-flat" ng-click="startTransformation()">Start Transformation</a>
                                <a ng-show="transforming" class="waves-effect waves-light btn-flat" ng-click="clearTransformation()">Clear Transformation</a>
                                <a ng-show="transforming" class="waves-effect waves-light btn-flat" ng-click="saveTransformation()">Save Transformation</a>
                                <a ng-show="transforming" class="waves-effect waves-light btn-flat" ng-click="saveImageAsTransformation()">Save Image As Is</a>
                            </div>
                            <div class="col s10 offset-s1">
                                <a class="waves-effect waves-light btn-flat" ng-click="deleteUploadedFile()">Delete File</a>
                                <a class="waves-effect waves-light btn-flat" ng-click="duplicateUploadedFile()">Duplicate File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="transformed">
            <div class="row" ng-if="showTabs">
                <ul class="tabs" tabs id="transformed_list" reload="allTabContentLoaded">
                    <li class="tab col s1" ng-repeat="(index,file) in transformed_files">
                        <a id="((index))" ng-href="#transformed-image((index))">((index))</a>
                    </li>
                </ul>
            </div>
            <div id="transformed-image((index))" class="row" ng-repeat="(index, file) in transformed_files">
                <div  class="col s8">
                    <img id="((file.fields.id))" value="((file.fields.transform_file_name))" src="((file.fields.url))" class="responsive-img"/>
                </div>
                <div class="card col s4">
                    <div class="card-content">
                        <div class="row">
                            <span class="card-title">
                            <h4>Transform File Actions</h4>
                            </span>
                            <div class="divider"></div>
                            <div class="col s10 offset-s1">
                                <div class="row">
                                    <h5>Add to Project</h5>
                                </div>
                                <div class="row">
                                    <label>Select Project</label>
                                    <select ng-model="selectedProject" material-select ng-change="get_folders(selectedProject)">
                                        <option value="">---Please select---</option> 
                                        <option ng-repeat="project in projects" ng-selected="project==selectedProject" value="((project.id))">((project.title))</option> 
                                    </select>
                                </div>
                                <div class="row" ng-show="selected_project">
                                    <label>Select Folder</label>
                                    <select ng-model="selectedFolder" material-select>
                                        <option value="">---Please select---</option> 
                                        <option ng-repeat="folder in folders" ng-selected="folder==selectedFolder" value="((folder.id))">((folder.title))</option> 
                                    </select>
                                </div>
                                <div class="row">
                                    <input type="checkbox" id="cover" ng-model="info.coverPage"/>
                                    <label for="cover">Cover Page</label>
                                </div>
                                <div class="row">
                                    <input type="text" class="input-field" placeholder="Enter page number" ng-model="info.pageNumber"  autofocus>
                                </div>
                                <div class="row">
                                    <button class="waves-effect waves-light btn" ng-click="saveFile(selectedProject, selectedFolder)">Save</button>
                                </div>  
                            </div>
                            <div class="divider"></div>
                            <div class="col s10 offset-s1">
                                <div class="row">
                                    <button class="waves-effect waves-light btn" ng-show="!meta_data" ng-click="addMetaData()" >Add Meta Data</button>
                                    <h5 ng-show="meta_data">Meta Data Added</h5>
                                </div>
                                <div class="row">
                                    <button class="waves-effect waves-light btn" ng-click="deleteTransformedFile()" >Delete Image</button>
                                </div>
                                <div class="row">
                                    <button class="waves-effect waves-light btn" ng-click="duplicateTransformedImage()">Duplicate Image</button>
                                </div>
                                <div class="row">
                                    <button class="waves-effect waves-light btn" ng-click="untransformFile()" >Untransform Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
