<div class="row">
    <div id="preloader" class="preloader-background">
        <div class="preloader-wrapper big center-align active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col s10 offset-s1">
        <div class="row col s10 offset-s1">
            <input type="file" ng-file-model="files" class="col s4" enctype='multipart/form-data' id="file-upload" multiple/>
            <a class="btn btn-large waves-effect waves-light indigo lighten-1 col s6 offset-s2" ng-click="uploadFiles()"><h5>Upload Files</h5></a>
        </div>
    </div>
</div>
<div class="row" id="file-preview">

</div>
