<div class="row">
    <div class="row">
        <h6>
            <a href="javascript:void(0);" ng-click="go_back()" >Go Back To Folder</a>
        </h6>
    </div>
    <div class="row">
        <div class="row" id="image_annotations">
            <div class="row" ng-if="showTabs">
                <ul class="tabs" tabs id="image_annotations_list" reload="allTabContentLoaded">
                    <li class="tab col s1" ng-repeat="(index,file) in image_annotations">
                        <a id="((index))" ng-href="#image_annotations((index))" ng-click="tabClick(index)">((index))</a>
                    </li>
                </ul>
            </div>
            <div id="image_annotations((index))" class="row" ng-repeat="(index, image) in image_annotations">
                <div class="col s8">
                    <img src="((image.fields.url))" class="materialboxed responsive-img" id="((image.fields.id))" value="((image.fields.image_annotation_file_name))" />
                </div>
                <div class="card col s4">
                    <div class="card-content">
                        <span class="card-title truncate">
                            ((image.fields.image_annotation_file_name))
                        </span>
                        <div class="chips" ng-show="!image.fields.tags">
                            <input ng-model="all_tags">
                        </div>
                        <div ng-show="image.fields.tags" class="chips chips-initial">
                          <input ng-model="all_tags">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Tesseract OCR Text</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited">((image.fields.texts.fields.tesseract_text_annotation))</p>
                                    </div>
                                    <div class="flow-text" style="overflow:scroll; height:70vh;" ng-show="editing">
                                        <p id="edited-tesseract((image.pk))" contenteditable="true">((image.fields.texts.fields.tesseract_text_annotation))</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <button ng-show="!editing" class="waves-effect waves-light btn col s8" ng-click="editTesseractText()">Edit Text</button>
                                    <button ng-show="editing" class="waves-effect waves-light btn col s8" ng-click="saveTesseractEdits(image)">Save Edits</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Google Vision API Text</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:70vh;">
                                        <p id="unedited" class="edit-textarea">((image.fields.texts.fields.google_vision_text_annotation))</p>
                                    </div>
                                    <div class="flow-text"  ng-show="editing" style="overflow:scroll; height:70vh;">
                                        <p id="edited-googlevision((image.pk))" contenteditable="true">((image.fields.texts.fields.google_vision_text_annotation))</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <button ng-show="!editing" class="waves-effect waves-light btn col s8" ng-click="editGoogleVisionText()">Edit Text</button>
                                    <button ng-show="editing" class="waves-effect waves-light btn col s8" ng-click="saveGoogleVisionEdits(image)">Save Edits</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-action">
                        <a href="" ng-click="saveImage(image)">SAVE</a>
                        <a href="" ng-click="deleteImage(image)">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>