<div class="row">
    <div id="preloader" class="preloader-background">
        <div class="preloader-wrapper big center-align active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="((file.file_url))" />
        </div>
        <div class="col s6">
            <div class="card" id="textInfo">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title" style="word-wrap:break-word;">((file.file_name))</span>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                Meta-Data
                            </div>
                            <div class="collapsible-body">
                                <form ng-submit="tagFile()">
                                    Tags: <input ng-model="((file.tags))" value="((file.tags))" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Tesseract OCR Text<a href="" ng-click="editText()" ng-show="!editing"><i class="material-icons">edit</i></a> <a href="" ng-click="saveTesseractEdits()" ng-show="editing"><i class="material-icons">add</i></a></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:40vh;white-space:pre-wrap;">
                                        <p id="unedited">((file.tesseract_text))</p>
                                    </div>
                                    <div class="flow-text" style="overflow:scroll; height:40vh;white-space:pre-wrap;" ng-show="editing">
                                        <p id="edited-tesseract" contenteditable="true" >((file.tesseract_text))</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Google Vision API Text <a href="" ng-click="editText()" ng-show="!editing"><i class="material-icons">edit</i></a> <a href="" ng-click="saveGoogleVisionEdits()" ng-show="editing"><i class="material-icons">add</i></a></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:40vh;">
                                        <p id="unedited" class="edit-textarea">((file.google_vision_text))</p>
                                    </div>
                                    <div class="flow-text"  ng-show="editing" style="overflow:scroll; height:40vh;">
                                        <p id="edited-googlevision" contenteditable="true" style="white-space:pre;">((file.google_vision_text))</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Google Translate API Text <a href="" ng-click="editText()" ng-show="!editing"><i class="material-icons">edit</i></a> <a href="" ng-click="saveTranslateTextEdits()" ng-show="editing"><i class="material-icons">add</i></a></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div ng-show="!editing" class="flow-text" style="overflow:scroll; height:40vh;">
                                        <p id="unedited" class="edit-textarea" style="white-space:pre-wrap;">((file.translate_text))</p>
                                    </div>
                                    <div class="flow-text"  ng-show="editing" style="overflow:scroll; height:40vh;">
                                        <p id="edited-translatetext" contenteditable="true" style="white-space:pre-wrap;">((file.translate_text))</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="" ng-click="processGoogleVision()">Process with Google Vision</a>
                    <a href="" ng-click="processTranslateText()">Process with Google Translate</a>
                    <a href="" ng-click="processTesseract()">Process with Tesseract</a>
                </div>
            </div>
        </div>
    </div>
</div>
