<div class="row">
    <div class="card col s10 offset-s1">
        <div class="row">
            <h4>((project.title))</h4>
        </div>
        <div class="divider"></div>
        <div class="row col s10 offset-s1">
            <div class="col s12">
                <input type="file" ng-file-model="project.files" multiple/>
            </div>
            <div class="row">
                 <h5><a class="btn btn-large waves-effect waves-light indigo lighten-1 col s8 offset-s2" ng-click="uploadFiles()">Upload Files</a></h5>
            </div>
        </div>
    </div>
</div>