{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Lucida</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="{% static 'lib/bower_components/angular-xeditable/dist/css/xeditable.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/node_modules/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'lib/node_modules/slick-carousel/slick/slick-theme.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body ng-app='ImageLucidaApp'>

      <div ng-include="'static/partials/nav.html'"></div>
      <div ng-view></div>

     <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'lib/bower_components/angular/angular.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js" crossorigin="anonymous"></script>

    <script src="{% static 'lib/node_modules/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'lib/node_modules/angular-slick-carousel/dist/angular-slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bower_components/angular-materialize/src/angular-materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bower_components/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'lib/bower_components/angular-xeditable/dist/js/xeditable.js' %}"></script>
    <script src="{% static 'lib/bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'lib/bower_components/ng-csv/build/ng-csv.min.js' %}"></script>
    <script src="{% static 'lib/bower_components/angular-filter/dist/angular-filter.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'lib/bower_components/angular-dragdrop/src/angular-dragdrop.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'lib/bower_components/angular-native-dragdrop/draganddrop.min.js' %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/appconfig.js' %}"></script>
    <!-- Factories -->
    <script type="text/javascript" src="{% static 'javascripts/factories/userfactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/projectsfactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/foldersfactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/bucketsfactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/uploadfilefactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/filefactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/sourcefactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/groupfactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/textfilefactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/factories/imagefilefactory.js' %}"></script>
    <!-- Directives -->
    <script type="text/javascript" src="{% static 'javascripts/directives/filemodel.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/directives/file_model.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/directives/click-pixel.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/directives/angular-canvas-area-draw.js' %}"></script>
<!-- Controllers -->
    <script type="text/javascript" src="{% static 'javascripts/controllers/homectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/navctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/authctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/projectsctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/bucketsctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/sourcectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/newprojectctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/newfolderctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/newbucketctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/newsourcectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/newfilectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/singlefilectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/foldersctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/groupctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/filesctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/uploadfilectrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/viewimagesctrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/controllers/viewtextsctrl.js' %}"></script>
  </body>
</html>
